<div class="row">
    <div class="col-md-12">
    {{message}}
          <h2>Posts</h2>
          {{!-- <hr /> --}}
          
         <div class="table-responsive">
            <table class="table">
                    <tr class="tableRow">
                        <td>Post ID</td>
                        <td>Title</td>
                        <td>Post Date</td>
                        <td>Category</td>
                        <td>Published</td>
                    </tr>
                    {{#each posts}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{title}}</td>
                            <td>{{postDate}}</td>

                            <td><a href="/posts?category={{category}}">
                            {{category}}</a></td>
                            <td>{{published}}</td>
                        </tr>
                    {{/each}}
            </table>
         </div> 
    </div>
    {{#unless posts}}
        <div class="col-md-12 text-center">
            test
                <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>